<div class="container">


	<p id="notice"><%= notice %></p>


	<h1 id="Morning">Finance term of the day</h1>

	<h2> <%= @term.title%> </h2>

	<p> <%= @term.definition %> </p>
	<br>

	<h3> Example:</h3>
	<%= @term.example %>


	<% if user_signed_in? %>
		<%= link_to 'Edit', edit_term_path(@term) %> 
	<% end %> 

	<%= link_to 'Back', terms_path %>

			
</div>







