<div class="container">
  <div>
    <h1 class="POST"><%= @post.headline %></h1>
    <div class="row">
      <div>
        <h3 id="col-sm-8 col-sm-offset-2">
          <strong><%= @post.questionone %></strong>
        </h3>
        <p><%= @post.descriptionone %></p>

        <h3 id="col-sm-8 col-sm-offset-2">
          <strong><%= @post.questiontwo %></strong>
        </h3>
        <p>
          <%= @post.descriptiontwo %>
        </p>

        <h3 id="col-sm-8 col-sm-offset-2">
          <strong><%= @post.questionthree %></strong>
        </h3>
        <p><%= @post.descriptionthree %></p>
      </div>
    </div>
    <!-- <p class="date">
      Submitted <%= time_ago_in_words(@post.created_at) %> Ago
    </p> -->
    <% if user_signed_in? %>
      <%= link_to 'Edit', edit_post_path(@post) %> 
      <%= link_to 'Destroy', @post, :method => :delete, :confirm => "Are you sure?" %>
    <% end %>
    <%= link_to 'Back', root_path %>


    <div id="comments">
      <h3><%= @post.comments.count %> Comments</h3>
      <%= render @post.comments %>

      <h3>Add a comment:</h3>
      <%= render "comments/form" %>
    </div>
  </div>   
  
</div>
